@import '../../../variables/variables.scss';

.main-container-preview {
  position: relative;
  max-width: 100%;
  height: 100vh;
  .preview-header {
    width: 100%;
    height: 30rem;
    background: $DarkPurple;
    border-radius: 0 0 2rem 2rem;
  }
}