  // Colors

    // Primary

    $DarkPurple: hsl(252, 100%, 62%);
    $LightPurple: hsl(252, 100%, 84%);
    $LightPinkishPurple: hsl(252, 100%, 96%);
    $DarkRed: hsl(0, 100%, 61%);

    // Neutral

    $White: hsl(0, 0%, 100%);
    $DarkGray: hsl(0, 0%, 45%);
    $DarkishGray: hsl(0, 6%, 93%);
    $LightGray: hsl(0, 0%, 98%);

    // media query

    $small-screen: 395px;