@import '../../variables/variables.scss';

.summary {
  position: relative;
  margin-top: 5rem;
  .info-container {
    height: 12.5rem;
    top: 10%;
    img {
      width: 6rem;
      height: 6rem;
      border-radius: 50%;
      margin-bottom: 1.10rem;
      border: 5px solid $DarkPurple;
    }
    h1 {
      min-width: 10rem;
      text-align: center;
      border-radius: 0.5rem;
      background: $White;
      color: $DarkGray;
    }
    #name {
      font-size: 1.25rem;
      font-weight: bold;
    }
    #email {
      font-size: 1rem;
    }
  }
  .summary-link {
    width: 15rem;
    height: 3rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    padding-left: 0.75rem;
    span {
      width: 100%;
      font-size: 1rem;
      color: white;
      #logo {
        font-size: 1.25rem;
      }
      a {
        color: white;
        margin-left: auto;
        padding-right: 1rem;
      }
    }
  }
}

.preview {
  position: absolute;
  padding-top: 1rem;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 30rem;
  width: 20rem;
  background: $White;
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}