@import '../../../variables/variables.scss';

.main-container-links {
  max-width: 100%;
  height: 100vh;
  margin: 0;
  padding-top: 2rem;
  background: $LightGray;
  @media (max-width: $small-screen) {
    padding-top: 0;
  }
  .layout {
    height: 85%;
    font-family: 'Instrument sans', serif;
    .row {
      height: 100%;
      .introduction {
        margin-top: 2.5rem;
        h1 {
          font-size: 1.75rem;
          font-weight: bold;
        }
        p {
          color: $DarkGray;
        }
        button {
          padding: 0.5rem;
          border: 1px solid $DarkPurple;
          background: none;
          font-weight: bold;
          color: $DarkPurple;
          border-radius: 0.5rem;
          &:hover {
            background: $LightPinkishPurple;
          }
        }
      }
      .links {
        background: $LightGray;
        padding: 1rem;
        h1 {
          font-size: 1rem;
          font-weight: bold;
          color: $DarkGray;
          #link-icon {
            margin-right: 0.5rem;
            font-size: 1.15rem;
          }
        }
        #remove {
          font-weight: normal;
          &:hover {
            color: $DarkRed;
            cursor: pointer;
          }
        }
        #link-input {
          padding: 0.5rem;
          border-radius: 0.5rem;
          margin-bottom: 0.5rem;
          border: 1px solid $DarkishGray;
          color: $DarkGray;
        }
        label {
          font-size: 0.85rem;
        }
      }
      .illustration {
        height: 55%;
        background: $LightGray;
        margin: 2rem 0;
        border-radius: 1rem;
        img {
          margin-top: 3.5rem;
          width: 12.5rem;
          height: 10rem;
        }
        h1 {
          font-size: 1.75rem;
          font-weight: bold;
          margin-top: 1rem;
        }
        p {
          text-align: center;
          margin-top: 1.5rem;
          color: $DarkGray;
          padding-bottom: 1rem;
        }
      }
    }
    .save-link {
      height: 10%;
      border-top: 1px solid $LightGray;
      button {
        width: 5rem;
        padding: 0.5rem;
        border-radius: 0.5rem;
        border: none;
        color: white;
      }
      #disabled {
        background: $LightPinkishPurple;
        cursor: unset;
      }
      #enabled {
        background: $DarkPurple;
      }
    }
  }
}
